p {
    padding: 20px;
    background-color: #f5d85a;    
  }
 div {
    font-family: "Tahoma", "Trebuchet MS", sans-serif;
}
h{
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

